.Shape {
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(33px, auto);
  position: absolute;
  padding : '2px'
}

.Square {
  width: 33px;
  height: 33px ;
}

.Row {
  width: 99px;
  height: 33px ;
  background-color: green;
}